services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    network_mode: host
  redis:
    image: redis/redis-stack-server:latest
    restart: unless-stopped
    ports:
      - '6379:6379'
    network_mode: host
