services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://aspire-dashboard:18889
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - REDIS_URL=redis://redis:6379
      - POSTGRES_URL=postgresql://admin:LocalPasswordOnly@db:5432/postgres

  db:
    image: pgvector/pgvector:pg17
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: LocalPasswordOnly
    ports:
      - "5433:5432"

  redis:
    image: redis/redis-stack-server:latest
    restart: unless-stopped
    ports:
      - '6380:6379'

  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest
    ports:
      - "18888:18888"
    environment:
      - DASHBOARD__FRONTEND__AUTHMODE=Unsecured

volumes:
  postgres-data:
